/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: black;
    text-decoration: none;
}



/********* A MODIFIER **********/

body{
    margin: 0;
    background: url(../img/watercolor_paper_texture_51.jpg);
}

/***** Header *****/
#header {
    background-color: #205638;
    padding: 1% 6%;
    display: flex;
    justify-content: space-between;
}
#header a .logo_header{
    width: 100%;
}
#header .lien_logo{
    width: 10%;
}
#header .menu{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Righteous', cursive;
}
#header .menu li{
    margin-left: 5%;
}
#header .menu li a{
    color: #FFFFFF;
    font-size: 25px;
}

/***** Page Contact *****/
#contact {
    margin-top: 5%;
    padding: 0 10%;
}
#contact .contact_title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
    font-family: 'Righteous', cursive;
}
#contact .trait{
    width: 100%;
    height: 1px;
    background-color: #000000;
}
#contact form div{
    margin: 2% 0;
}
#contact form div label{
    font-size: 25px;
    margin-right: 3%;
    font-family: 'Lato', sans-serif;
}
#contact form div:last-of-type{
    margin-left: auto;
    margin-right: 0;
}
#contact #contact_form_Envoyer{
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #5B9073;
    border-radius: 15px;
    border: none;
    line-height: 25px;
    padding: 9px 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Righteous', cursive;
}

/***** Login *****/
#login {
    padding: 0 36%;
    padding-top: 2%;
    background-color: #205638;
}
#login .lien_login_logo{
    display: block;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
}
#login a .logo_login{
    width: 100%;
}
#login .login_form{
    display: flex;
    flex-direction: column;
}
#login .login_form .form-control{
    margin-top: 3%;
    background-color: #1A482E;
    border-radius: 15px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    line-height: 23px;
    padding: 2% 5%;
}
#login .login_submit{
    color: #FFFFFF;
    font-size: 20px;
    background-color: #5B9073;
    border-radius: 15px;
    border: none;
    line-height: 25px;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    margin: 10% auto;
    font-family: 'Righteous', cursive;
}
#login .bottom_text{
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-family: 'Righteous', cursive;
}
#login .register_link{
    color: #FDE82E;
}
#login_smiley{
    background: url(../img/SVG/Plan\ de\ travail\ 1.svg);
}

/***** Register *****/
#register {
    padding: 0 36%;
    padding-top: 2%;
    background-color: #205638;
}
#register .lien_register_logo{
    display: block;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
}
#register a .logo_register{
    width: 100%;
}
#register form{
    display: flex;
    flex-direction: column;
}
#register form label{
    display: none;
}
#register form input{
    margin-top: 3%;
    background-color: #1A482E;
    border-radius: 15px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    line-height: 23px;
    padding: 2% 5%;
    width: 100%;
}
#register .register_submit{
    color: #FFFFFF;
    font-size: 20px;
    background-color: #5B9073;
    border-radius: 15px;
    border: none;
    line-height: 25px;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    margin: 10% auto;
    font-family: 'Righteous', cursive;
}
#register_smiley{
    background: url(../img/SVG/Plan\ de\ travail\ 1.svg);
}

/***** Accueil *****/
#accueil{
    margin: 5% 0;
    padding: 0 10%;
    display: flex;
}

#accueil .access_map{
    color: #FFFFFF;
    font-size: 20px;
    background-color: #5B9073;
    border-radius: 15px;
    border: none;
    line-height: 25px;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10% auto;
    font-family: 'Righteous', cursive;
}

.pk_recycler{
    padding: 2% 10%;
    background-color: #C1D5CA;
}
.pk_recycler h2{
    color: #205638;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
.pk_recycler p{
    font-size: 20px;
    line-height: 30px;
    color: #060F0A;
    font-family: 'Lato', sans-serif;
}

.more{
    background-color: #205638;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 5% 0;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}
.more .logo_more{
    margin: 0 auto;
    width: 35%;
}
.more .text_more{
    color: #FFFFFF;
    font-size: 25px;
    line-height: 50px;
    margin: 3% auto;
    font-family: 'Gloria Hallelujah', cursive;
}
.more ul{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8%;
}
.more ul li{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.more ul li img{
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
}
.more ul li p {
    font-size: 20px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Gloria Hallelujah', cursive;
}

#merci{
    margin: 5% 0;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}
#merci .title{
    color: #173E29;
    font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3% auto;
    font-family: 'Righteous', cursive;
}
#merci div{
    margin-bottom: 3%;
}
#merci .nb_user{
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: 0;
}
#merci .nb_user p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: 10%;
    top: 25%;
    font-family: 'Righteous', cursive;
}
#merci .nb_user span{
    color: #FDE82E;
}
#merci .nb_user img{
    width: 100%;
}
#merci .referencement{
    width: 40%;
    position: relative;
}
#merci .referencement p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: 10%;
    top: 25%;
    font-family: 'Righteous', cursive;
}
#merci .referencement span{
    color: #FDE82E;
}
#merci .referencement img{
    width: 100%;
}
#merci .recyclage{
    width:40%;
    position: relative;
    margin-left: auto;
    margin-right: 0;
}
#merci .recyclage p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: 10%;
    top: 25%;
    font-family: 'Righteous', cursive;
}
#merci .recyclage span{
    color: #FDE82E;
}
#merci .recyclage img{
    width: 100%;
}

/***** Footer *****/
#footer{
    background-color: #205638;
}
#footer .liens{
    display: flex;
    justify-content: space-evenly;
}
#footer .liens .fast_link p, #footer .liens .rule_link p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
#footer .liens .fast_link ul li a, #footer .liens .rule_link ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', sans-serif;
}
#footer .trait{
    width: 80%;
    margin: 1% auto;
    border: 1px solid #F3F7F5;
}
#footer .link_contact{
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Righteous', cursive;
}
#footer .link_contact a{
    color: #FDE82E;
}
#footer .droit{
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 2%;
} 

/***** Mentions Legal *****/
#legal{
    padding: 1% 6%;
}
#legal h2{
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    margin: 5% 0;
    font-family: 'Righteous', cursive;
}
#legal h3{
    font-size: 25px;
    color: #000000;
    line-height: 22px;
    margin: 2% 0;
    font-family: 'Lato', sans-serif;
}
#legal p{
    font-size: 15px;
    color: #000000;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
}

/***** Qui somme nous ? *****/
#qsn {
    margin: 3% 15%;
}
#qsn h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}
#qsn ul{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
#qsn ul li{
    width: 25%;
    text-align: center;
}
#qsn ul li p{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    font-family: 'Lato', sans-serif;
}
#qsn ul li .name{
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
#qsn ul li img{
    width: 50%;
}

/***** Profile *****/
#profil{
    margin: 3% 15%;
}
#profil .welcome{
    text-align: center;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5%;
    font-family: 'Righteous', cursive;
}
#profil .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#profil .info .img_profil{
    width: 30%;
    text-align: right;
    margin-right: 2%;
}
#profil .info .img_profil img{
    width: 50%;
    border-radius: 50%;
    border: 1px solid #000000;
}
#profil .info .detail{
    width: 50%;
    text-align: left;
    margin-left: 2%;
    margin-right: 15%;
    background-color: #205638;
    border-radius: 20px;
    padding: 3% 5%;
}
#profil .info .detail p{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}
#profil .info .detail span{
    color: #FDE82E;
}
#profil .admin_button{
    display: flex;
}
#profil .admin_link{
    color: #FFFFFF;
    font-size: 20px;
    background-color: #5B9073;
    border-radius: 15px;
    border: none;
    line-height: 25px;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10% auto;
    font-family: 'Righteous', cursive;
}

/***** MAP *****/
#page_map{
    margin: 5% 0;
    padding: 0 10%;
}
#page_map #map{
    height:400px;
}