<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Happy Cycle{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato:wght@300&family=Righteous&display=swap" rel="stylesheet"> 
            <link href={{ asset('css/main.css') }} rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        {% block body %}
            {# Header #}
            <div id="header">
                <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/LogoFull.png" /></a>
                <ul class="menu">
                    <li><a href="qsn">Qui sommes nous ?</a></li>
                    <li><a href="contact">Nous contacter</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="logout">Se deconnecter</a></li>
                        <li><a href="profil">Profile</a></li>
                    {% else %}
                        <li><a href="login">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="accueil">
                {# MAP #}
                <a class="access_map" href="map">Voir la carte</a>
                <div class="shapeMap">
                    <img class="firstShape" alt="firstShape" src="img/Laisse_nous.png" />
                    <img class="secondShape" alt="secondShape" src="img/Adresse.png" />
                </div>
            </div> 
            <div class="videoDiv">
                <div class="video">
                </div>
                <div class="shapeBackground">
                    <img class="circleShape" alt"circleShapeLogo" src="img/tete.png" />
                    <img class="threeShape" alt"threeShape" src="img/Condense_x3.png" />
                </div>
            </div>
            {# Pourquoi Recycler #}
            <div class="pk_recycler">
                <h2>Pourquoi Recycler ?</h2>
                <p>
                    Chaque jour, en réduisant individuellement nos déchets, en donnant une nouvelle vie à nos objets ou en les recyclant, nous luttons contre le gaspillage et préservons collectivement nos ressources naturelles et l'environnement.
                </p>
                <p class="text2">
                    Faisons-le en nous amusant !
                </p>
            </div>
            {# MORE #}
            <div class="more">
                <img class="logo_more" alt="logo" src="img/Logo.png"/>
                <p class="text_more">C'est aussi...</p>
                <ul>
                    <li>
                        <img alt="Bon gestes" src="img/GESTES.png"/>
                        <p>Des bons gestes..</p>
                    </li>
                    <li>
                        <img alt="Mise à jour" src="img/UPDATE.png"/>
                        <p>Des mises à jour constantes</p>
                    </li>
                    <li>
                        <img alt="Une équipe" src="img/TEAM.png"/>
                        <p>Une équipe à l'écoute</p>
                    </li>
                    <li>
                        <img alt="Des récompenses" src="img/REWARD.png"/>
                        <p>Des récompenses</p>
                    </li>
                </ul>
            </div>
            {# MERCI #}
            <div id="merci">
                <p class="title">Merci</p>
                <div class="nb_user">
                    <p>Merci ! Nous sommes <span>{{ nbUser }}</span> utilisateurs</p>
                    <img alt="" src="img/Merci.png" />
                </div>
                <div class="referencement">
                    <p>Nous référençons <span>{{ nbCont }}</span> point de collectes</p>
                    <img alt="" src="img/Nous_referencons.png" />
                </div>
                <div class="recyclage">
                    <p>Le taux de recyclage en 2021 est de <span>68%</span></p>
                    <img alt="" src="img/Le_recyclage.png" />
                </div>
            </div>
            {# Footer #}
            <div id="footer">
                <div class="liens">
                    <div class="fast_link">
                        <p>Liens du site</p>
                        <ul>
                            <li><a href="home">Accueil</a></li>
                            <li><a href="qsn">Qui sommes nous ?</a></li>
                            <li><a href="contact">Nous contacter</a></li>
                            <li><a href="profil">Mon profil</a></li>
                        </ul>
                    </div>
                    <div class="rule_link">
                        <p>Ressources</p>
                        <ul>
                            <li><a href="legal">Mentions legales</a></li>
                            <li><a href="legal">Conditions utilisateurs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="trait"></div>
                <p class="link_contact">Une requête ? <a href="contact">Contactez nous</a></p>
                <p class="droit">© 2021, HappyCycle. | Tous droits réservés.</p>
            </div>
        {% endblock %}
        </body>
</html>
