<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Happy Cycle{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href={{ asset('css/main.css') }} rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Header #}
            <div id="header">
                <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/Logo.png" /></a>
                <ul class="menu">
                    <li><a href="qsn">Qui sommes nous ?</a></li>
                    <li><a href="contact">Nous contacter</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="logout">Se deconnecter</a></li>
                        <li><a href="profil">Profile</a></li>
                    {% else %}
                        <li><a href="login">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="accueil">
                {# MAP + Video #}
                <div>
                    {# MAP #}
                    <div class="map">

                    </div>
                    {# VIDEO #}
                    <div>
                    </div>
                </div>
            </div>    
            {# Pourquoi Recycler #}
            <div class="pk_recycler">
                <h2>Pourquoi Recycler ?</h2>
                <p>
                    Le recyclage participe à la conservation de matières premières précieuses et à la préservation des espaces naturels pour le futur. Le processus de fabrication de matériaux de recyclage requiert nettement moins d'énergie que celui de la production de nouveaux produits à base de matières premières, et ce, même en comparant tous les frais associés, transport inclus, etc.
                </p>
            </div>
            {# MORE #}
            <div class="more">
                <img class="logo_more" alt="logo" src="img/Logo.png"/>
                <p class="text_more">C'est aussi...</p>
                <ul>
                    <li>
                        <img alt="Bon gestes" src="img/bongeste.jpg"/>
                        <p>Des bons gestes..</p>
                    </li>
                    <li>
                        <img alt="Mise à jour" src="img/maj.png"/>
                        <p>Des mises à jour constantes</p>
                    </li>
                    <li>
                        <img alt="Une équipe" src="img/equipe.jpg"/>
                        <p>Une équipe à l'écoute</p>
                    </li>
                    <li>
                        <img alt="Des récompenses" src="img/recompense.jpg"/>
                        <p>Des récompenses</p>
                    </li>
                </ul>
            </div>
            {# MERCI #}
            <div id="merci">
                <p class="title">Merci</p>
                <div class="nb_user">
                    <p>Merci ! Nous sommes <span>{{ nbUser }}</span> utilisateurs</p>
                    <img alt="" src="img/Merci.png" />
                </div>
                <div class="referencement">
                    <p>Nous référençons <span>{{ nbCont }}</span> point de collectes</p>
                    <img alt="" src="img/Nous_referencons.png" />
                </div>
                <div class="recyclage">
                    <p>Le taux de recyclage en 2021 est de <span>68%</span></p>
                    <img alt="" src="img/Le_recyclage.png" />
                </div>
            </div>
            {# Footer #}
            <div id="footer">
                <div class="liens">
                    <div class="fast_link">
                        <p>Liens du site</p>
                        <ul>
                            <li><a href="home">Accueil</a></li>
                            <li><a href="qsn">Qui sommes nous ?</a></li>
                            <li><a href="contact">Nous contacter</a></li>
                            <li><a href="profil">Mon profil</a></li>
                        </ul>
                    </div>
                    <div class="rule_link">
                        <p>Ressources</p>
                        <ul>
                            <li><a href="legal">Mentions legales</a></li>
                            <li><a href="legal">Conditions utilisateurs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="trait"></div>
                <p class="link_contact">Une requête ? <a href="contact">Contactez nous</a></p>
                <p class="droit">© 2021, HappyCycle. | Tous droits réservés.</p>
            </div>
        {% endblock %}
    </body>
</html>
