<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Happy Cycle{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato:wght@300&family=Righteous&display=swap" rel="stylesheet"> 
            <link href={{ asset('css/main.css') }} rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Header #}
            <div id="header">
                <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/Logo.png" /></a>
                <ul class="menu">
                    <li><a href="qsn">Qui sommes nous ?</a></li>
                    <li><a href="contact">Nous contacter</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="logout">Se deconnecter</a></li>
                        <li><a href="profil">Profile</a></li>
                    {% else %}
                        <li><a href="login">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="qsn">
                <h2>Qui sommes nous ?</h2>
                <ul>
                    <li>
                        <img alt="photo_clem" src="img/chara/clement.png" />
                        <p class="name">Clément Blin</p>
                        <p>Développeur Web</p>
                    </li>
                    <li>
                        <img alt="photo_pauline" src="img/chara/pauline.png" />
                        <p class="name">Pauline Le Breton</p>
                        <p>UI/UX Designer</p>
                        <p>Développeuse Front-End</p>
                    </li>
                    <li>
                        <img alt="photo_max" src="img/chara/maxime.png" />
                        <p class="name">Maxime Carville</p>
                        <p>Développeur Front-End</p>
                    </li>
                    <li>
                        <img alt="photo_pape" src="img/chara/tair.png" />
                        <p class="name">Taïr Fall</p>
                        <p>Développeur Web</p>
                    </li>
                </ul>
            </div>
        {% endblock %}
    </body>
</html>
